
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <h3 class='sub-text'>  Blocipedia is a resource for sharing nonsensical tidbits with your friends!</h3>
  <p>
    <% if !user_signed_in? %>
    <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link btn btn-primary'  %>
    <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link btn btn-primary'  %>
    <% end %>
  </p>
</div>
