// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.matthew.container-fluid {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
 small {
   margin-bottom: 5px;
 }

.col-md-4 {
  padding-bottom: 15px;
}
